.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px 150px;
}

.projects h1 {
  color: chartreuse;
  font-size: 26px;
  font-weight: 500;
  margin: 32px 0 0;
  align-self: flex-start;
}

.projects h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 5px 0 30px;
  align-self: flex-start;
}

.projects ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.project-item {
  position: relative;
  height: 220px;
}

.project-link {
  text-decoration: none;
}

.project-img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.project-details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: 1px solid transparent;
  visibility: hidden;
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.project-item:hover .project-details {
  visibility: visible;
  border-color: chartreuse;
  transform: scale(1.06);
}

.project-item:hover .project-img {
  transform: scale(1.06);
}

.project-details h1 {
  color: white;
  font-size: 18px;
  margin: 0;
}
.project-desc {
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin-right: 12px;
}
.tech-stack {
  color: chartreuse;
  font-size: 12px;
  font-weight: 500;
}

.link-icon {
  color: white;
  font-size: 20px;
  margin: 8px 0 8px 5px;
}

.projects button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 24px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 30px;
  transition: box-shadow 0.3s;
}

.projects button:hover {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .projects {
    padding: 30px;
    margin: 0;
  }
  .projects h1 {
    font-size: 22px;
  }
  .projects h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .projects ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .projects ul {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin: 0;
  }
}
