.skills {
  padding: 20px 150px;
  margin-bottom: 40px;
}

.skills h1 {
  color: chartreuse;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.skills ul {
  display: grid;
  padding-left: 0;
  list-style-type: none;
  grid-template-columns: repeat(8, 1fr);
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}

.list-item img,
.skill-icon {
  width: 30px;
  height: 30px;
}

.list-item span {
  font-size: 16px;
}

@media (max-width: 768px) {
  .skills {
    padding: 30px;
    margin: 0;
  }
  .skills h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .skills ul {
    grid-template-columns: repeat(5, 1fr);
  }
  .list-item {
    margin-bottom: 30px;
  }
  .list-item img,
  .skill-icon {
    width: 20px;
    height: 20px;
  }
  .list-item span {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .skills ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
  }
}
