.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 200px;
}

.home-img {
  width: 380px;
  height: 370px;
  border-radius: 100%;
  order: 1;
  margin: 80px 25px;
}

.home-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 100px;
  padding-top: 30px;
}

.home-details h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}

.home-details span {
  color: #4b6cc1;
}

.home-details p {
  font-size: 25px;
  margin-bottom: 30px;
}

.connect-btn {
  background-image: linear-gradient(135deg, #df8908, #b415ff);
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.connect-btn:hover {
  background-image: linear-gradient(135deg, #2196f3, #4caf50);
  transform: scale(1.03);
}

.resume-btn {
  background-color: transparent;
  border: white 1px solid;
  color: white;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s;
}

.resume-btn:hover {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    padding-bottom: 0;
    gap: 30px;
    height: auto;
    margin-bottom: 50px;
  }
  .home-img {
    order: 0;
    height: 320px;
    width: 300px;
    margin: 0;
    margin-top: 40px;
  }
  .home-details {
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 15px;
  }
  .home-details h1 {
    margin: 0;
  }
  .home-details p {
    font-size: 18px;
    margin: 0;
  }
  .home-details div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }
  .connect-btn,
  .resume-btn {
    font-size: 14px;
    padding: 10px 16px;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .home-img {
    width: 100%;
    height: 330px;
  }
}
